<html>
  <head>
    <title>PDF Express</title>
    <style>
      body { margin: 30px; background: Aquamarine; font: 30px/1.5 "Futura"; display: flex; }
      header { margin-right: 80px; }
      ul { list-style: none; padding-left: 0; }
    </style>
  </head>
  <body>
    <header>
      <ul>
          <li>
            <a href="https://pdfs-knfa2.s3.us-east.cloud-object-storage.appdomain.cloud/wallstreetjournal_20220715_TheWallStreetJournal.pdf">Wall Street Journal</a>
          </li>
      </ul>
    </header>
  </body>
</html>
